body {
  .pagination-items-per-page {
    $gap: 1rem;
    margin-bottom: 0;

    .btn:not(:last-child) {
      margin-right: $gap/2;
    }
  }

  .pagination {
    margin-bottom: 0;
  }

  .footer__brend {
    $gap: 1rem;
    $active-color: #fff;

    display: flex;
    align-items: center;
    text-decoration: none;

    .footer__brend__logo {
      height: 1.875rem;
      margin-right: $gap/2;
    }

    .footer__brend__name {
      font-size: 1rem;
      font-weight: bold;
      color: $active-color;
    }
  }
}
