$main-hue: 225;
$main-saturation: 80%;
$main-lightness: 55%;

// Define variable defaults
//$primary: #325de9;
$primary: hsl($main-hue, $main-saturation, $main-lightness);

// Then import Bootstrap an BootstrapVue SCSS files (order is important)
//@import "node_modules/bootstrap/scss/bootstrap.scss";

@import "../node_modules/bootstrap/scss/functions";

$custom-themes: (
  "royal": #325de9,
  "frosty": #32bbe9,
  "turquoise": #32e9bb,
  "malachite": #32e960,
  "lime": #60e932,
  "pear": #bbe932,
  "sunrise": #e9be32,
  "carrot": #e96332,
  "cherry": #e9325d,
  "fuchsia": #e932b8,
  "orchid": #be32e9,
  "violet": #6332e9,
);

@import "../node_modules/bootstrap/scss/variables";

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-themes);
//$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
//$utilities-colors: $theme-colors-rgb;
//
//$utilities-text: map-merge(
//                $utilities-colors,
//                (
//                        "black": to-rgb($black),
//                        "white": to-rgb($white),
//                        "body": to-rgb($body-color),
//                )
//);
//$utilities-text-colors: map-loop(
//                $utilities-text,
//                rgba-css-var,
//                "$key",
//                "text"
//);
//$utilities-bg: map-merge(
//                $utilities-colors,
//                (
//                        "black": to-rgb($black),
//                        "white": to-rgb($white),
//                        "body": to-rgb($body-bg),
//                )
//);
//$utilities-bg-colors: map-loop(
//                $utilities-bg,
//                rgba-css-var,
//                "$key",
//                "bg"
//);

@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/code";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/tables";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/dropdown";
@import "../node_modules/bootstrap/scss/button-group";
@import "../node_modules/bootstrap/scss/input-group";
@import "../node_modules/bootstrap/scss/custom-forms";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/card";
@import "../node_modules/bootstrap/scss/breadcrumb";
@import "../node_modules/bootstrap/scss/pagination";
@import "../node_modules/bootstrap/scss/badge";
@import "../node_modules/bootstrap/scss/jumbotron";
@import "../node_modules/bootstrap/scss/alert";
@import "../node_modules/bootstrap/scss/progress";
@import "../node_modules/bootstrap/scss/media";
@import "../node_modules/bootstrap/scss/list-group";
@import "../node_modules/bootstrap/scss/close";
@import "../node_modules/bootstrap/scss/toasts";
@import "../node_modules/bootstrap/scss/modal";
@import "../node_modules/bootstrap/scss/tooltip";
@import "../node_modules/bootstrap/scss/popover";
@import "../node_modules/bootstrap/scss/carousel";
@import "../node_modules/bootstrap/scss/spinners";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/print";

@import "node_modules/bootstrap-vue/src/index.scss";

//@import "../node_modules/@clayui/css/lib/css/atlas.css";
//@import "../node_modules/@clayui/css/src/scss/atlas.scss";

body {
  $gap: 1rem;
  $basic-color: var(--primary);
  $active-color: #fff;
  $passive-color: #e4e4e4;
  $support-color: grey;
  $text-color: #212529;
  $muted-color: #6c757d;
  //$back-color: #6688cc;
  $back-color: hsl(
    calc(#{$main-hue} - 5),
    calc(#{$main-saturation} - 30%),
    calc(#{$main-lightness} + 5%)
  );
  $bot-color: #fff;
  //$message-color: #acc0e6;
  $message-color: hsl(
    calc(#{$main-hue} - 5),
    calc(#{$main-saturation} - 25%),
    calc(#{$main-lightness} + 25%)
  );

  &.theme-1 {
    //$basic-color: var(--secondary);
  }

  //Стили компонентов
  .page-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;

    .header {
      background-color: $basic-color;

      .navbar {
        justify-content: space-between;
        flex-wrap: wrap;
        padding-left: 0;
        padding-right: 0;
        position: static;

        .logo {
          font-size: 1rem;
          font-weight: bold;
          line-height: 0.9;
          white-space: normal;
          display: flex;
          align-items: center;
          margin-right: 0;

          @media (max-width: 991.98px) {
            width: calc(100% - 2.375rem);
          }

          .logo__image {
            height: 1.875rem;
            margin-right: calc(#{$gap} / 2);
          }
        }

        /*Боковая шторка с навигационным меню сайта*/
        .b-sidebar-outer {
          @media (min-width: 992px) {
            position: static;
            height: 2.5rem;
          }

          /*Выезжающая панель*/
          .b-sidebar {
            @media (min-width: 992px) {
              display: block !important;
              box-shadow: none !important;
              position: static;
              width: auto;
              transform: none;
            }

            /*Шапка выезжающей панели*/
            .b-sidebar-header {
              border-bottom: 1px solid $active-color;

              @media (min-width: 992px) {
                display: none;
              }
            }

            /*Тело выезжающей панели*/
            .b-sidebar-body {
              overflow: visible;

              /*Навигационное меню*/
              .navbar-collapse {
                /*Список пунктов меню*/
                .navbar-nav {
                  @media (max-width: 991.98px) {
                    flex-direction: column;
                    width: 100%;
                  }

                  /*Пункт меню*/
                  .nav-item {
                    @media (max-width: 991.98px) {
                      border-bottom: 1px solid $active-color;
                    }

                    /*Пункт меню с выпадашкой*/
                    &.dropdown {
                      /*Выпадающая часть*/
                      .dropdown-menu {
                        @media (max-width: 991.98px) {
                          position: relative;
                          padding-top: 0;
                          padding-bottom: 0;
                          margin-top: 0;
                          border-radius: 0;
                          border: none;
                          background-color: rgba(255, 255, 255, 0.2);
                        }

                        /*Пункт выпадающей части*/
                        li {
                          @media (max-width: 991.98px) {
                            border-top: 1px solid $active-color;
                          }

                          .dropdown-item {
                            @media (max-width: 991.98px) {
                              padding: 0.5rem 1rem;
                              color: $active-color;
                            }

                            &:hover,
                            &:active {
                              @media (max-width: 991.98px) {
                                background-color: rgba(255, 255, 255, 0.4);
                              }
                            }
                          }
                        }
                      }
                    }
                  }

                  #signInButton,
                  #signOutButton {
                    @media (min-width: 992px) {
                      position: absolute;
                      right: 0;
                    }
                  }
                }
              }
            }
          }

          /*Задний затемняющий фон*/
          .b-sidebar-backdrop {
            @media (min-width: 992px) {
              display: none;
            }
          }
        }
      }
    }

    .content {
      flex: 1;

      .home-page {
        .slider {
          .container {
            @media (max-width: 575.98px) {
              padding-left: 0;
              padding-right: 0;
            }

            .carousel-item {
              img {
                @media (max-width: 575.98px) {
                  width: 100%;
                }
              }

              .carousel-caption {
                padding-left: 15px;
                padding-right: 15px;

                @media (max-width: 575.98px) {
                  height: 90px;
                  width: 100%;
                  position: static;
                  display: block;
                }

                h3 {
                  @media (max-width: 575.98px) {
                    font-size: 1.25rem;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  }
                }

                p {
                  @media (max-width: 575.98px) {
                    display: none;
                  }
                }
              }

              &.active,
              &carousel-item-next,
              &.carousel-item-prev {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
              }
            }

            .carousel-indicators {
              margin-bottom: calc(#{$gap} / 2);
            }
          }
        }

        .features {
          $basic-color: #325de9;

          padding-bottom: calc(#{$gap} / 2);

          .features-title {
            color: $active-color;
            margin-top: $gap;
            margin-bottom: $gap;
          }

          .row {
            margin-left: calc(#{-$gap} / 4);
            margin-right: calc(#{-$gap} / 4);

            .feature {
              padding-left: calc(#{$gap} / 4);
              padding-right: calc(#{$gap} / 4);
              margin-bottom: calc(#{$gap} / 4);
            }
          }
        }

        .advantage {
          .advantage__image {
            padding: 0 $gap;
            width: 100%;
            border-radius: 50%;
          }

          .advantage__comment {
            padding: $gap;
          }
        }
      }

      .bot {
        //background-color: $back-color;

        .chat {
          .chat-header-full {
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

            @media (min-width: 992px) {
              box-shadow: none;
            }

            .chat-header {
              height: 3.5rem;
              padding-top: 0.3125rem;
              padding-bottom: 0.3125rem;
              display: flex;
              align-items: center;

              .chat-header__avatar {
                background-color: $basic-color;
                height: 100%;
              }

              .chat-header__title {
                margin-left: calc(#{$gap} / 2);
                color: $active-color;
                font-weight: bolder;
              }

              .close-button {
                margin-left: auto;
                top: 0;
                right: 0;
                z-index: 100;
                padding-left: 0.375rem;
                padding-right: 0.375rem;
                display: flex;
                align-items: center;

                @media (min-width: 992px) {
                  border-radius: 0.25rem !important;
                }
              }
            }
          }
          .chat-section {
            #botWaiting {
              width: 60%;
              bottom: -270%;
              left: 20%;
              margin: auto;

              &.active {
                bottom: -10%;
              }
            }

            .chat-field-wrapper.active {
              height: calc(100vh - 3.5rem - 3.5rem - 3.5rem);
              overflow-y: auto;
              display: flex;
              flex-direction: column-reverse;
              scroll-behavior: smooth;
              scrollbar-color: var(--primary) transparent;
              scrollbar-width: thin;

              &::-webkit-scrollbar {
                background-color: transparent;
                width: 0.5rem;
              }

              &::-webkit-scrollbar-thumb {
                background-color: var(--primary);
              }
            }

            .chat-field {
              display: flex;
              flex-direction: column;
              padding-top: $gap;
              min-height: min-content;

              .alert {
                display: inline-block;
                //border: none;
                border: $basic-color 1px solid;
                padding: 0.375rem 0.75rem;
                max-width: calc(100% - 3.5rem);
                margin-bottom: 0.5rem;

                &:last-child {
                  margin-bottom: 0.1875rem;
                }

                .answer-link {
                  display: inline-block;
                  padding: 0.25em 0.5em;
                  margin-right: 0.25em;
                  margin-bottom: 0.25em;
                  border: 1px solid #6688cc;
                }
              }

              .alert-primary {
                background-color: $active-color;
                border-radius: 0 0.75rem 0.75rem;
                align-self: start;
              }

              .alert-danger {
                background-color: $message-color;
                border-radius: 0.75rem 0.75rem 0;
                color: $text-color;
                align-self: end;
              }
            }
          }

          .search-section {
            .search-group {
              overflow: hidden;

              form {
                display: flex;
                padding-top: 0.5625rem;
                padding-bottom: 0.5625rem;

                #inputGroupQuestion {
                  margin-bottom: 0;
                  margin-right: 2.0625rem;
                  transition: margin-right 1s;
                  flex-grow: 1;

                  #inputQuestion {
                    width: 100%;
                    padding-top: 0.125rem;
                    padding-bottom: 0.125rem;
                    border: $basic-color 1px solid;

                    @media (min-width: 992px) {
                      border-radius: 0.25rem !important;
                    }
                  }
                }

                &.isActive {
                  #inputGroupQuestion {
                    margin-right: 0.625rem;
                  }
                }

                .btn {
                  display: flex;
                  align-items: center;
                  padding-left: 0.375rem;
                  padding-right: 0.375rem;
                  margin-right: -4.4375rem;
                  transition: margin-right 1s;

                  @media (min-width: 992px) {
                    border-radius: 0.25rem !important;
                  }
                }

                &.isActive {
                  .btn {
                    margin-right: 0;
                  }
                }
              }
            }
          }
        }
      }

      .news {
        .row {
          margin-left: calc(-#{$gap} / 4);
          margin-right: calc(-#{$gap} / 4);

          & > * {
            padding-left: calc(#{$gap} / 4);
            padding-right: calc(#{$gap} / 4);
            margin-bottom: calc(#{$gap} / 2);
          }

          .card {
            @media (min-width: 576px) {
              height: 478px;
            }

            @media (min-width: 768px) {
              height: 404px;
            }

            @media (min-width: 992px) {
              height: 430px;
            }

            @media (min-width: 1200px) {
              height: 406px;
            }

            &:hover {
              box-shadow: 0 4px 20px rgb(0 46 69 / 10%);
            }

            .card-body {
              display: flex;
              flex-direction: column;

              .card-text-block {
                display: flex;
                flex-direction: column;
                height: 100%;
                flex: 1;
                margin-bottom: calc(#{$gap} * 10 / 16);

                .news-link {
                  text-decoration: none;
                  color: $text-color;
                }

                .card-text {
                  flex: 1;
                  display: -webkit-box;
                  -webkit-line-clamp: 4;
                  -webkit-box-orient: vertical;
                  overflow: hidden;
                }
              }

              .card-image {
                height: 140px;
                overflow: hidden;
                display: flex;
                align-items: center;
                border-radius: 0.25rem;
                margin-bottom: $gap;

                .card-image_full-width {
                  width: 100%;
                }
              }

              .card__footer {
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: $muted-color;

                .news-source {
                  display: flex;
                  align-items: center;

                  .news-source__logo {
                    height: 1.5rem;
                    margin-right: calc(#{$gap}/ 2);
                    border-radius: 0.125rem;
                  }

                  .news-source__link {
                    text-decoration: none;
                    color: $muted-color;
                    z-index: 1000;
                  }
                }
              }
            }
          }

          .news-important {
            .card {
              .card-body {
                height: 100%;

                @media (min-width: 576px) {
                  flex-wrap: wrap;
                  align-content: space-between;
                }

                .card-text-block {
                  @media (min-width: 576px) {
                    width: calc((100% - 2px - 3rem) / 2);
                  }
                }

                .card-image {
                  @media (min-width: 576px) {
                    order: -1;
                    height: 100%;
                    margin-bottom: 0;
                    justify-content: center;
                    width: calc(50% + 0.25rem + 1px);
                  }

                  .card-image_full-width {
                    @media (min-width: 576px) {
                      height: 100%;
                      width: auto;
                    }
                  }
                }

                .card__footer {
                  @media (min-width: 576px) {
                    width: calc((100% - 2px - 3rem) / 2);
                  }
                }
              }
            }
          }
        }
      }

      .news-article {
        .news-article__author {
          height: 3rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: $gap;
          color: $muted-color;

          .news-article-source {
            height: 100%;

            .news-source__logo {
              height: 100%;
              margin-right: calc(#{$gap} / 2);
              border-radius: 0.25rem;
            }

            .news-source__link {
              text-decoration: none;
              color: #6c757d;
            }
          }
        }

        .news-article-main-image {
          height: 15rem;
          display: flex;
          align-items: center;
          overflow: hidden;
          border-radius: 0.25rem;
          margin-bottom: $gap;

          @media (min-width: 576px) {
            height: 25rem;
          }

          @media (min-width: 768px) {
            height: 25rem;
          }

          @media (min-width: 992px) {
            height: 30rem;
          }

          @media (min-width: 1200px) {
            height: 35rem;
          }

          @media (min-width: 1400px) {
            height: 40rem;
          }

          .news-article-main-image_full-width {
            width: 100%;
          }
        }

        .news-article-tags {
          margin-bottom: $gap;

          a {
            margin-left: $gap;
          }
        }

        .news-article-comments {
          margin-bottom: $gap;
        }
      }

      .measures {
        .row {
          margin-left: calc(-#{$gap} / 4);
          margin-right: calc(-#{$gap} / 4);

          & > * {
            padding-left: calc(#{$gap} / 4);
            padding-right: calc(#{$gap} / 4);
          }
        }

        .filter {
          & > *:not(:last-child) {
            margin-bottom: calc(#{$gap} / 2);
          }

          .form-group {
            margin-bottom: -0px;
          }

          .col-form-label {
            padding-bottom: calc(#{$gap} / 4) !important;
            font-weight: bolder;
          }

          .filter-actions {
            .btn {
              margin-bottom: calc(#{$gap} / 2);
            }
          }
        }

        .measure-card {
          margin-bottom: calc(#{$gap} / 2);

          &:hover {
            box-shadow: 0 4px 20px rgb(0 46 69 / 10%);
          }

          .card-body {
            justify-content: space-between;
            margin: 0;
            padding: calc(#{$gap} / 2) $gap;

            .measure-title {
              text-decoration: none;
              color: $text-color;
              padding-left: 0;
              padding-right: 0;

              span {
                margin-right: calc(#{$gap} / 2);
              }
            }

            .measure-period {
              color: $support-color;
              text-align: left;
              padding-left: 0;
              padding-right: 0;

              @media (min-width: 768px) {
                text-align: right;
              }

              b {
                color: $text-color;
              }
            }
          }

          .card-footer {
            justify-content: space-between;
            margin: 0;
            padding: calc(#{$gap} / 2) $gap;

            .measure-owner-logo {
              display: flex;
              margin-bottom: calc(#{$gap} / 2);
              padding-left: 0;
              padding-right: 0;

              .measure-owner-logo-image {
                height: 2.375rem;
                margin-right: calc(#{$gap} / 2);
                margin-top: calc(#{$gap} / 3);
              }

              .measure-owner-logo-text {
                .measure-owner-logo-text__comment {
                  color: $support-color;
                }

                .measure-owner-logo-text__name {
                  color: $text-color;
                  font-weight: bolder;
                }
              }
            }

            .measure-details {
              margin-bottom: calc(#{$gap} / 2);
              padding-left: 0;
              padding-right: 0;

              .measure-size {
                @media (min-width: 768px) {
                  text-align: right;
                }

                .measure-size__header {
                  color: $support-color;
                }

                .measure-size__value {
                  color: $text-color;
                  font-weight: bolder;
                }
              }
            }

            .measure-buttons {
              display: flex;
              align-items: start;
              margin-bottom: calc(#{$gap} / 2);
              padding-left: 0;
              padding-right: 0;

              @media (min-width: 992px) {
                justify-content: flex-end;
              }

              .measure-web-accessibility {
                margin-right: calc(#{$gap} / 2);
              }
            }
          }
        }
      }

      .profile {
        .user-info {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: space-between;
          margin-bottom: calc(#{$gap} / 2);

          .user-info__details {
            display: flex;
            align-items: center;
            margin-right: $gap;
            margin-bottom: calc(#{$gap} / 2);

            .user-avatar {
              height: 7.375rem;
              border-radius: 50%;
              margin-right: calc(#{$gap} / 2);
            }
          }

          .user-info__edit-btn {
            margin-bottom: calc(#{$gap} / 2);
          }
        }

        .tab-pane {
          padding-top: calc(#{$gap} / 2);
          padding-bottom: calc(#{$gap} / 2);

          section {
            padding-bottom: calc(#{$gap} / 2);

            .secondary-title {
              margin-top: calc(#{$gap} / 2);
              margin-bottom: calc(#{$gap} / 2);
            }
          }
        }

        .term {
          display: flex;

          .term-title {
            font-weight: bold;
            width: 10rem;
            overflow: hidden;

            .dotted-line {
              position: relative;

              &::after {
                content: "";
                position: absolute;
                bottom: 0.2rem;
                margin-left: 0.5rem;
                width: 100rem;
                border-bottom: 0.125rem dotted rgba(0, 0, 0, 0.2);
              }
            }
          }
        }
      }

      .applications {
        .primary-title {
          margin-bottom: $gap;
        }

        .request-card {
          margin-bottom: calc(#{$gap} / 2);

          &:hover {
            box-shadow: 0 4px 20px rgb(0 46 69 / 10%);
          }

          .card-footer {
            @media (min-width: 768px) {
              display: flex;
              justify-content: space-between;
            }

            p {
              margin-bottom: 0;
            }
          }
        }
      }

      .support {
        padding-top: calc(#{$gap} / 2);

        .support-header {
          .support-name {
            margin-bottom: $gap;
          }

          .support-details {
            & > * {
              margin-bottom: $gap;
            }

            @media (min-width: 768px) {
              display: flex;
              justify-content: space-between;
              align-items: center;
            }

            .support-date {
              color: $support-color;

              b {
                color: $text-color;
              }
            }
          }
        }

        hr {
          margin-top: 0;
        }

        .support-card {
          .support-card-header {
            display: flex;
            justify-content: space-between;

            & > * {
              margin-bottom: $gap;
            }

            .support-owner {
              .support-owner-header {
                color: $support-color;
              }

              .support-owner-logo {
                display: flex;
                font-weight: bolder;
                align-items: center;

                .support-owner-logo-image {
                  height: 2.375rem;
                  margin-right: calc(#{$gap} / 2);
                  margin-top: calc(#{$gap} / 2);
                }

                .support-owner-name {
                  margin-top: calc(#{$gap} / 2);
                }
              }
            }

            .support-conditions {
              @media (min-width: 768px) {
                text-align: right;
              }

              .support-conditions-header {
                color: $support-color;
              }

              .support-size {
                font-size: 1.75rem;
                font-weight: 500;
              }

              .support-size-info {
                color: $support-color;
              }
            }

            .support-buttons {
              display: flex;
              align-items: start;

              @media (min-width: 768px) {
                justify-content: flex-end;
              }

              .support-web-access-icon {
                height: 2.375rem;
                border: 1px solid $basic-color;
                border-radius: 0.25rem;
                margin-right: calc(#{$gap} / 2);
              }
            }
          }

          hr {
            margin-top: 0;
          }

          .card {
            border: none;

            .nav {
              background-color: transparent;
              padding: 0;
              margin-bottom: $gap;

              @media (min-width: 768px) {
                padding-right: 1.25rem;
              }
            }

            .tab-content {
              margin-bottom: $gap;

              .tab-pane {
                padding: 0;

                @media (min-width: 768px) {
                  padding-left: 1.25rem;
                }
              }

              ul {
                padding-left: 1.25rem;
              }

              :nth-last-child(1) {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }

    .footer {
      padding-top: $gap;
      padding-bottom: $gap;
      color: $passive-color;

      @media (min-width: 768px) {
        padding-top: 0;
      }

      .footer-content {
        @media (min-width: 768px) {
          padding-top: $gap;
          padding-bottom: $gap;
          align-items: center;
        }

        .info {
          .logo {
            display: flex;
            align-items: center;
            text-decoration: none;
            margin-bottom: $gap;
            justify-content: center;

            @media (min-width: 768px) {
              justify-content: stretch;
              margin-bottom: 0;
            }

            .logo__image {
              height: 1.875rem;
              margin-right: calc(#{$gap} / 2);
            }

            .logo__text {
              font-size: 1rem;
              line-height: 0.9;
              font-weight: bold;
              color: $active-color;
            }
          }

          .social {
            margin-bottom: calc(#{$gap} / 2);

            .social-link__logo {
              height: 2rem;
              margin-right: calc(#{$gap} / 2);
              margin-bottom: calc(#{$gap} / 2);
            }
          }
        }

        .contacts {
          list-style: none;
          margin-bottom: $gap;

          @media (min-width: 768px) {
            margin-bottom: 0;
          }

          li {
            text-align: center;

            @media (min-width: 768px) {
              text-align: start;
            }

            a {
              text-decoration: none;
              color: $passive-color;

              &:hover {
                color: $active-color;
              }
            }
          }
        }

        .footer-nav {
          list-style: none;
          margin-bottom: $gap;

          @media (min-width: 768px) {
            margin-bottom: 0;
          }

          li {
            text-align: center;

            @media (min-width: 768px) {
              text-align: start;
            }

            a {
              text-decoration: none;
              color: $passive-color;

              &:hover {
                color: $active-color;
              }
            }
          }
        }
      }

      hr {
        border-top-color: $passive-color;
        margin-top: 0;
        margin-bottom: $gap;
      }
    }
  }

  //Глобальные стили
  .container {
    max-width: 80%;
  }

  .title-primary {
    margin-top: $gap;
    margin-bottom: $gap;
  }

  .paginator {
    .paginator__items-per-page {
      .page-size:not(:last-child) {
        margin-right: calc(#{$gap} / 2);
      }
    }
    .paginator__page-selector {
      .pagination {
        margin-bottom: 0;
      }
    }
  }

  .app-action-button:not(:last-child) {
    margin-right: calc(#{$gap} / 2);
  }

  .material-icons {
    font-size: 1rem;
    line-height: 1.5rem;
    vertical-align: -0.125rem;
  }

  .btn {
    .material-icons {
      font-size: 1.5rem;
      vertical-align: -0.375rem;
    }

    &.btn-icon-only_square {
      padding-left: 0.375rem;
      padding-right: 0.375rem;
    }
  }

  //Элементы ClayUI
  .formio-component {
    .btn-secondary {
      background-color: #fff;
      border-color: #cdced9;
      color: #6b6c7e;
    }
    .btn-secondary:hover {
      background-color: #f7f8f9;
      border-color: #cdced9;
      color: #272833;
    }
    .btn-secondary:focus,
    .focus.btn-secondary {
      background-color: #f7f8f9;
      border-color: #cdced9;
      color: #272833;
    }
    .btn-secondary:active {
      background-color: #f1f2f5;
      border-color: #cdced9;
      color: #272833;
    }
    .active.btn-secondary {
      background-color: #f1f2f5;
      border-color: #cdced9;
      color: #272833;
    }
    .btn-secondary:disabled,
    .disabled.btn-secondary {
      background-color: #fff;
      border-color: #cdced9;
      color: #6b6c7e;
    }
    [aria-expanded="true"].btn-secondary,
    .show.btn-secondary {
      background-color: #f1f2f5;
      border-color: #cdced9;
      color: #272833;
    }
    .form-file-input:focus + .btn-secondary {
      background-color: #f7f8f9;
      border-color: #cdced9;
      color: #272833;
    }
  }
}
